In [1]:
import pandas as pd

In [2]:
# create two dataframe

df1 = pd.DataFrame({
    'A':["A0","A1","A2"],
    'B':["B0","B1","B2"],
    'key':["K0","K1","K2"]
})

df2 = pd.DataFrame({
    'C':["C0","C1","C2"],
    'D':["D0","D1","D2"],
    'key':["K0","K1","K2"]
})

# merge the data frame

merged_df = pd.merge(df1, df2, on='key')

In [3]:
merged_df

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2