In [21]:
import pandas as pd
import random
import numpy as np

### Method 1: Using the sample Method

In [2]:
df = pd.read_excel("stocks_weather.xlsx")

In [3]:
df

   Unnamed: 0 tickers  price     pe    eps
0           0   GOOGL    845  30.37  27.82
1           1     WMT     65  14.26   4.61
2           2    MSFT     64  30.97   2.12

In [9]:
sample_df = df.sample(n=2)

In [10]:
sample_df

   Unnamed: 0 tickers  price     pe   eps
2           2    MSFT     64  30.97  2.12
1           1     WMT     65  14.26  4.61

### Method 2: Using the random Method

In [19]:
df = pd.read_excel("stocks_weather.xlsx")

# select a random row

random_index = random.randint(0, len(df)-1)
random_row = df.iloc[random_index]

In [20]:
random_row

Unnamed: 0        0
tickers       GOOGL
price           845
pe            30.37
eps           27.82
Name: 0, dtype: object

### Method 3: Using the numpy Module

In [28]:
df = pd.read_excel("stocks_weather.xlsx")

# Generate an array of random indicies
random_indicies = np.random.randint(0, len(df), size=2)

# select the corresponding rows
random_rows = df.iloc[random_indicies]

In [29]:
random_rows

   Unnamed: 0 tickers  price     pe    eps
2           2    MSFT     64  30.97   2.12
0           0   GOOGL    845  30.37  27.82